<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobitant.note">

    <!--카메라 전화상태 위치정보 요소인식-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApp"
        android:theme="@style/AppTheme">

        <activity
            android:name=".PermissionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--android.intent.action.MAIN 이 액티비티를 앱의 최초 액티비티로 설정-->
            <!--android.intent.category.LAUNCHER 이 액티비티의 아이콘이 안드로이드 앱시작 관리자에 배치한다.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".IndexActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".ProfileIconActivity"/>
        <activity android:name=".ShareActivity" android:label="Check 액티비티"/>
        <activity android:name=".AddActivity" android:label="Add 액티비티"/>
    </application>

</manifest>